<partial name="_Notifications" />

< <div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Padecimientos </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Medicine" asp-controller="Conditions" asp-action="Upsert" class="btn btn-primary"> <i class="bi bi-plus-circle"></i> Agregar Nuevo Padecimiento</a>
        </div>
    </div>

    <table id="tblData" table class="table table-bordered table-striped">
        <thead>
            <tr class="table-secondary">
                <th scope="row" class="table-dark">Padecimiento</th>
                <th scope="row" class="table-dark">Descripción</th>
                <th class="table-dark" scope="row">Acciones</th>
            </tr>
        </thead>
    </table>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/conditions.js"></script>
