@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}



<div class="row d-flex align-items-center justify-content-center vh-100">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-primary fw-bolder text-uppercase fs-5 text-center">Crea una nueva cuenta</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="Nombre" />
                <label asp-for="Input.FirstName">Nombre</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Apellido" />
                <label asp-for="Input.LastName">Apellido</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Address" class="form-control" aria-required="true" placeholder="Dirección" />
                <label asp-for="Input.Address">Dirección</label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
             
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@example.com" />
                <label asp-for="Input.Email">Correo electrónico</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Contraseña" />
                <label asp-for="Input.Password">Contraseña</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Contraseña" />
                <label asp-for="Input.ConfirmPassword">Confirmar contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if (User.IsInRole(Proyecto_EMUS.Utilities.ProyectoEMUSRoles.Role_Admin))
            {
                <div class="form-floating mb-3">
                    <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select" id="selected">
                        <option disabled selected>--- Seleccione un Rol ---- </option>
                    </select>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.GMCNumber" class="form-control" aria-required="true" placeholder="GMCNumber" />
                    <label asp-for="Input.GMCNumber">Número de colegiado</label>
                    <span asp-validation-for="Input.GMCNumber" class="text-danger"></span>

                </div>
            } else if (User.IsInRole(Proyecto_EMUS.Utilities.ProyectoEMUSRoles.Role_Doctor)) {
                <div class="form-floating mb-3">
                    <select asp-for="Input.Role" class="form-select" id="selected">
                        <option>@Proyecto_EMUS.Utilities.ProyectoEMUSRoles.Role_Patient</option>
                    </select>
                </div>
            }
            

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
        </form>
    </div>
   <br />
    <br />
    <br />
    <br />

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
