@model PatientTreatmentVM

<!--La lista de Tratamiento que un paciente si tiene esta en @Model.PatientTreatments-->

<!--Tomar el siguiente codigo para seleccionar un tratamiento para un paciente:
    
        <div class="mb-3">
            <label asp-for="Treatment.Id" class="p-0"></label>
            <select asp-for="Treatment.Id" asp-items="@Model.Treatments" class="form-select">
                <option disabled selected> --- Select Treatment --- </option>
            </select>
            <span asp-validation-for="Treatment.Id" class="text-danger"></span>
        </div>

-->