<!--FILTRAR LA TODOS LOS PACIENTES DONDE EL ID DEL DOCTOR QUE LOS ATIENTE SEA IGUAL AL ID DEL USUARIO DOCTOR QUE ESTA LOGEADO ACTUALMENTE-->
<!--USAR EL DATATABLE DEL SCRIPT patient.js-->


<!--ORDEN DE LAS COLUMNAS DEL DATA TABLE: Ultima fecha atencion, Cedula paciente, Primer nombre, Apellido, boton: Ver expediente academico 
-->

<!--EL BOTON DE VER EXPEDIENTE REDIRIGE A Medicine/Patient/MedicalRecord>-->

<partial name="_Notifications" />

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Pacientes </h2>
        </div>

        <div class="col-6 text-end">
            <a asp-area="Medicine" asp-controller="Patient" asp-action="Upsert" class="btn btn-primary"> <i class="bi bi-plus-circle"></i> Agregar nuevo paciente</a>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr class="table-secondary">
                <th scope="row" class="table-dark">Id</th>
                <th scope="row" class="table-dark">Nombre</th>
                <th scope="row" class="table-dark">Apellido</th>
                <th scope="row" class="table-dark">Última fecha atención</th>
                <th class="table-dark" scope="row">Acciones</th>
            </tr>
        </thead>
    </table>

</div>

   
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/patient.js"></script>
