@model List<Doctor>
<partial name="_Notifications" />

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Doctores</h2>
        </div>

        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="Doctor" asp-action="Upsert" class="btn btn-primary"> <i class="bi bi-plus-circle"></i> Agregar doctor</a>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr class="table-secondary">
                <th class="table-dark" scope="row" align="center">Imagen</th>
                <th class="table-dark" scope="row" align="center">Nombre</th>
                <th class="table-dark" scope="row" align="center">Apellido</th>
                <th class="table-dark" scope="row" align="center"> Número colegiado</th>
                <th class="table-dark" scope="row" align="center">Acciones</th>
            </tr>
        </thead>
    </table>

</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/doctor.js"></script>
