<!--FILTRAR LA TODOS LOS PACIENTES DONDE EL ID DEL DOCTOR QUE LOS ATIENTE SEA IGUAL AL ID DEL USUARIO DOCTOR QUE ESTA LOGEADO ACTUALMENTE-->
<!--USAR EL DATATABLE DEL SCRIPT patient.js-->


<!--ORDEN DE LAS COLUMNAS DEL DATA TABLE: Ultima fecha atencion, Cedula paciente, Primer nombre, Apellido, boton: Ver expediente academico 
-->

<!--EL BOTON DE VER EXPEDIENTE REDIRIGE A Medicine/Patient/MedicalRecord>

<h1 class="display-4">Home View</h1>

   
