@{
    ViewBag.Title = "Inicio";
}

<div class="bg-image d-flex justify-content-center align-items-center">
    <!-- Contenido centrado -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="text-primary fw-bolder text-uppercase fs-2 text-center">Bienvenido al Expediente Médico Universitario Seguro</h1>
</div>
